.leftbox {
    float: left;
    width: 20%;
    margin-left: 20px;
    border: 1px solid red;
    margin-top: 20px;
}

.middlebox {
    float: left;
    width: 20%;
    margin-left: 20px;
    border: 1px solid red;
    margin-top: 20px;
}

.rightbox {
    float: left;
    width: 20%;
    margin-left: 20px;
    border: 1px solid red;
    margin-top: 20px;
}